.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 335px;
  gap: 40px;
  margin: 20px 0;
  font-size: 20px;
  &__title {
    font-size: 35px;
    margin: 40px 0;
  }
}