.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  &__logo {
    font-size: 32px;
    color: white;
    display: contents;
  }
  &__wrapper {
    background-color: #031d33;
    box-shadow: 0 0 15px 10px rgb(2 27 48 / 60%);
    color: white;
    z-index: 1;
    position: relative;
  }
  &__search {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50px;
    width: 33%;
    &__input {
      border: none;
      border-radius: 10px;
      margin-right: 10px;
    }
    &__submit {
      position: absolute;
      right: -53px;
      border: none;
      background-color: inherit;
      color: white;
      cursor: pointer;
    }
    &__error {
      position: absolute;
      top: 20px;
      left: 10px;
    }
  }
}