.footer {
  background-color: #031d33;
  color: white;
  margin-top: 25px;
  box-shadow: 0 0 15px 10px rgb(2 27 48 / 60%);
  z-index: 1;
  position: relative;
  &__info {
    display: inline-block;
    margin: 40px 0;
  }
  &__wrapper {
    background-color: #031d33;
    box-shadow: 0 0 15px 10px rgb(2 27 48 / 60%);
    color: white;
    z-index: 1;
    position: relative;
  }
}