.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 375px;
}

.container {
  max-width: 1240px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}